
nav {
    align-items: center;
    // border:1px solid red;
    display: flex;
    justify-content: space-between;
    // padding:8px;
    width:100%;

    @media (max-width:650px) {
        border:1px solid white;
        flex-direction: column;
    }

    a {
        padding:0 4px;
        font-size:1.5rem;
    }

    .logo {
        font-weight:700;
        font-size:2rem;
        padding:8px;
    }
}
