@import './reset.css';
@import './Components/Recipes/Recipes.scss';

* {
  transition: 0.2s;
}

body {
  background:slategray;
}

.App {
  align-items: center;
  // border:1px solid red;
  background:slategray;
  display:flex;
  flex-direction: column;
  margin:0 auto;
  width:100%;

  a {
    color:whitesmoke;

    &.active {
      color:palevioletred;
      font-size:1.5rem;
    }
  } 

  header {
    align-items: center;
    // border:1px solid black;
    display: flex;
    justify-content: space-between;
    width:100%;
  }

  main {
    align-items: center;
    // border:1px solid red;
    display: flex;
    flex-direction: column;
    padding:8px;
    max-width:550px;
    width:95%;
  }

  form {
    width:100%;
  }


}
